{% extends 'CustomRDBundle::layout.html.twig' %}

{% block body %}
<!-- Main -->
<div id="main">

    <!-- Header -->
    <header>
        <span class="logo"></span>
        <h1><strong>Elemental</strong> by Pixelarity</h1>
    </header>

    <!-- Banner -->
    <section class="banner">
        <h2>Ipsum feugiat tempus sed aliquam<br />
            neque dapibus lorem volutpat</h2>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- One -->
    <section id="one" class="wrapper spotlight">
        <div class="content">
            <div class="inner">
                <h2>Magna veroeros</h2>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </div>
        <ul class="grid-icons">
            <li>
                <div class="inner">
                    <span class="icon fa-cog major"></span>
                    <h3>Sed tempus</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-desktop major"></span>
                    <h3>Aenean lorem</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-signal major"></span>
                    <h3>Felis aliquam</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-check major"></span>
                    <h3>Dui volutpat</h3>
                </div>
            </li>
        </ul>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style1 spotlight alt">
        <div class="content">
            <div class="inner">
                <h2>Ipsum accumsan</h2>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="{{ asset('images/customRDBundle/pic02.jpg') }}" data-position="30% 30%" alt="" />
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2 spotlight">
        <div class="content">
            <div class="inner">
                <h2>Etiam consequat</h2>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="{{ asset('images/customRDBundle/pic03.jpg') }}" data-position="center right" alt="" />
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style3 spotlight alt">
        <div class="content">
            <div class="inner">
                <h2>Quis adipiscing</h2>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="{{ asset('images/customRDBundle/pic04.jpg') }}" data-position="top right" alt="" />
        </div>
    </section>

    <!-- Five -->
    <section id="five" class="wrapper special">
        <h2>Accumsan praesent</h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque ege tas augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam dui mi, tincidunt quis, accumsan porttitor tempus lorem ipsum dolor sit amet consequat.</p>
        <ul class="faces">
            <li>
                <span class="image"><img src="{{ asset('images/customRDBundle/pic05.jpg') }}" alt="" /></span>
                <h3>Jane Doe</h3>
                <p>"Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor magna etiam lorem tempus."</p>
            </li>
            <li>
                <span class="image"><img src="{{ asset('images/customRDBundle/pic06.jpg') }}" alt="" /></span>
                <h3>John Anderson</h3>
                <p>"Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor magna etiam lorem tempus."</p>
            </li>
            <li>
                <span class="image"><img src="{{ asset('images/customRDBundle/pic07.jpg') }}" alt="" /></span>
                <h3>Kate Smith</h3>
                <p>"Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor magna etiam lorem tempus."</p>
            </li>
        </ul>
    </section>

</div>

{% endblock %}